section {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about {
  background-color: $secondary;
}

.features {
  background-color: $tertiary;
}

.contact {
  background-color: $maincolor;
}