section {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-background);
  color: var(--color-text);
}

.hero {
  flex-direction: column;
  align-items: flex-start;
  background: var(--color-background);
  position: relative;
  padding-top: 70px;
  padding-bottom: 70px;

  &__content {
    display: flex;
    justify-content: space-between;

    &__left {
      flex: 1;
    }

    &__right {
      flex: 1;
    }
  }

  &__divider {
    @include section-divider;

    .parallax1 use{
      fill: var(--color-sec);
      opacity: 0.4;
    }
    .parallax2 use{
      fill: var(--color-accent);
      opacity: 0.4;
    }
    .parallax3 use{
      fill: var(--color-text);
      opacity: 0.4;
    }
    .parallax4 use{
      fill: #0072ff;
    }
  }
}
.about {
  background: linear-gradient(to top, #00c6ff, #0072ff);
  flex-direction: column;
  position: relative;

  h1 {
    color: $lightshade;
  }

  &__divider {
    @include section-divider;

    .parallax1 use{
      fill: var(--color-text);
      opacity: 0.4;
    }
    .parallax2 use{
      fill: var(--color-sec);
      opacity: 0.4;
    }
    .parallax3 use{
      fill: var(--color-accent);
      opacity: 0.4;
    }
    .parallax4 use{
      fill: var(--color-background);
    }
  }
}

.features {
  background: var(--color-background);
}

.contact {
  // background: $gradient;
  flex-direction: column;

  &__title {
    padding-top: 80px;
  }

  form { max-width:420px; margin:50px auto; }

  .feedback-input {
    color:var(--color-text);
    font-family: "Jura", sans-serif;;
    font-weight:500;
    font-size: 18px;
    border-radius: 5px;
    line-height: 22px;
    background-color: transparent;
    border:2px solid var(--color-main);
    transition: all 0.3s;
    padding: 13px;
    margin-bottom: 15px;
    width:100%;
    box-sizing: border-box;
    outline:0;
  }

  .feedback-input:focus { 
    border:2px solid $green-color; 
    box-shadow:0 0 3px $green-color;
  }

  .feedback-input::placeholder { color: var(--color-text);}

  textarea {
    height: 150px;
    line-height: 150%;
    resize:vertical;
  }

  [type="submit"] {
    font-family: "Jura", sans-serif;
    width: 100%;
    background:$activeMenu;
    border-radius:5px;
    border:0;
    cursor:pointer;
    color:white;
    font-size:24px;
    padding-top:10px;
    padding-bottom:10px;
    transition: all 0.3s;
    margin-top:-4px;
    font-weight:700;
  }
  [type="submit"]:hover { background:$hoverMenu }
}