// Colors
$maincolor: #FB743E;
$secondary: #334574;
$tertiary: #6E7698;
$lightshade: #f1f4fd;
$darkshade: #2F4858;
$gradient: linear-gradient(to right, #ff6a00, #ee0979); 


// Font Sizes
$font-sm: 0.875rem;
$font-md: 1.125rem;
$font-xl: 3.25rem;