// Colors
$maincolor: #FB743E;
$secondary: #334574;
$tertiary: #6E7698;
$lightshade: #f1f4fd;
$darkshade: #2F4858;
// $gradient: linear-gradient(to right, #ff6a00, #ee0979); 
$gradient: linear-gradient(to right, #f86a32, #e73827);  
$hero: linear-gradient(to right, #76b852, #8dc26f);  
$activeMenu: linear-gradient(to right, #00c6ff, #0072ff);


// Font Sizes
$font-sm: 0.875rem;
$font-md: 1.125rem;
$font-xl: 3.25rem;